*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #abcdeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    background-color: rgb(151, 236, 236);
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid #3246a0;
    margin-top: 40px;
    color: #d1e23a;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
img{
    display: block;
    margin: 0 auto;
    background-color: rgb(204, 222, 238);
    border-radius: 50px;
    border: 3px solid #3246a0;
    width: 800px;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 120px;
}
img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
h1:hover {
    transition: 0.3s;
    background-color: rgb(133, 189, 241);
    transform: scale(1.05);
}
a{
    text-decoration: none;
    color: rgb(38, 109, 202);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}
a:hover{
    color: rgb(12, 73, 145);
    transition: 0.3s;
    background-color: #7db8ec;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
}